<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/marshal1/src/com/ob/marshal1/dto/UserMarshalMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ob.marshal1.dto.UserMarshalMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="marshal1"/>
</launchConfiguration>
